.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 16px;
  background-color: var(--nav-bg-color);
  border-bottom: solid var(--link-color);
}

.navbar-toggler {
  display: block;
  position: absolute;
  right: 20px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: var(--main-color);
  font-size: 30px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
}

.navbar-brand img {
  width: 125px;
}

.nav-link a {
  color: var(--text-color);
  font-size: 0.8125rem;
  font-weight: 500;
  font-family: "Hind", sans-serif;
  text-transform: capitalize;
  margin-right: 2rem;
  line-height: 20px;
}

nav .nav-btn {
  background: var(--learn-more);
  padding: 10px;
}

body>img {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 575px;
  width: 100%;
}

.header-text {
  width: fit-content;
}

.header-text h2{
  font-size: 40px;
  width: 300px;
  font-weight: 500;
  margin-bottom: 15px
}

.header-text span {
  color: var(--text-color)
}

.play {
  padding: 15px;
  background: var(--learn-more);
  color: var(--white);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin-top: 30px;
  
}

.learn-more {
  color: var(--learn-more);
}

.title {
  margin-top: 75px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.hd-icons {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin-left: 150px
}

.icon {
  background-color: white;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.15);
}

.hd-icons .google {
  width: 75px;
  height: 75px;
  
}

.google-at-as {
  display: flex;
  width: fit-content;
}
.at-as {
  display: flex;
  height: 100px;
  width: 360px;
  margin-left: 75px;
  justify-content: space-between;
}

.hd-icons .atlassian {
  width: 100px;
}

.hd-icons .asana {
  width: 100px;
}
.pay-we {
  margin-top: 75px;
  margin-bottom: 50px;
  display: flex;
  height: 100px;
  width: 350px;
  justify-content: space-between;
}
.hd-icons .paypal {
  width: 100px;
}

.hd-icons .weave {
  width: 85px;
}
.a-cal {
  display: flex;
  justify-content: space-between;
  width: 425px;
  margin-left: 150px;
}

.hd-icons .google-a {
  width: 75px;
  height: 75px;
}

.hd-icons .calendar {
  position: relative;
  top: 40px;
  width: 100px;
  height: 100px;
}

.block-text {
  text-align: center;
  margin-top: 175px;
  margin-bottom: 75px;
}

.block-text h2 {
  font-size: 30px;
}

.block-text span {
  font-size: 20px;
  color: var(--text-color);
  line-height: 30px;
}

.card-table {
  display: flex;
  margin-bottom: 100px;
}

.info-card {
  width: 200px;
  padding: 10px;
  margin-left: auto;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.15);
  border: 1px solid rgba(128, 128, 128, 0.15);
}

.info-card .learn-more {
  
}

.sketch {
  display: inline;
  background-color: var(--sketch);
  font-size: 14px;
  padding: 2px 10px;
}
.info-card .icon {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 0;
  width: 50px;
}

.portfolio .container {
  display: flex;
  background: var(--bg-port);
  margin-bottom: 75px;
  padding-right: 0;
}

.portfolio h2 {
  font-size: 30px;
  font-weight: 500;
}

.portfolio img {
  width: 650px;
  margin-top: 100px;
}

.image-text {
  display: flex;
  flex-direction: column;
  flex-basis: 450px;
  margin: auto 0;
}

.image-text .btn {
  width: 150px;
}

.why-front img {
  height: 500px;
  z-index: -1;
}

.video {
  margin-bottom: 100px;
}

.video span {
  color: black;
  border-radius: 50% 50%;
  border: 1px solid grey;
  box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.2);
  font-size: 50px;
  position: relative;
  left: 50%;
  top: 300px;
}

.hubspot {
  display: flex;
  margin-bottom: 150px;
}
.images {
  width: 45%;
}
.images .dots{
  margin-top: 25px;
  position: absolute;
  width: 175px;
  height: 500px;
  z-index: -1;
}

.images .woman {
  margin-left: 40px;
  width: 350px;
  height: 400px;
}

.hubspot-block-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.hubspot-block-text img {
  width: 100px;
  margin-bottom: 50px;
}

.hubspot-text {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  margin-bottom: 50px;
}

.christina {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.job {
  color: navy;
}