.navbar {
  width: 100%;
  padding: 16px;
}

.navbar-toggler {
  display: block;
  position: absolute;
  right: var(--size-20);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: var(--main-color);
  font-size: var(--size-30);
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
}

.navbar-brand img {
  width: var(--size-125);
}

.nav-link a {
  color: var(--text-color);
  font-size: 0.8125rem;
  font-weight: 500;
  font-family: "Hind", sans-serif;
  text-transform: capitalize;
  margin-right: 2rem;
  line-height: var(--size-20);
}

nav .nav-btn {
  background: var(--learn-more);
  padding: var(--size-10) var(--size-15);
  font-size: var(--size-10);
}

body > img {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 575px;
  width: 100%;
}

.header-text {
  width: fit-content;
}

.header-text h2 {
  font-size: 40px;
  width: 300px;
  font-weight: 500;
  margin-bottom: var(--size-15);
}

.header-text span {
  color: var(--text-color);
}

.play {
  padding: var(--size-15);
  background: var(--learn-more);
  color: var(--white);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin-top: var(--size-30);
}

.learn-more {
  color: var(--learn-more);
}

.title {
  margin-top: var(--size-75);
  width: 100%;
  height: fit-content;
  display: flex;
}

.hd-icons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}

.hd-icons .icon {
  background-color: white;
  border-radius: 50%;
  padding: var(--size-15);
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.15);
}

.hd-icons .google {
  width: var(--size-75);
  height: var(--size-75);
}

.google-at-as {
  display: flex;
  width: fit-content;
  height: fit-content;
}
.at-as {
  display: flex;
  height: var(--size-100);
  width: 360px;
  margin-left: var(--size-75);
  justify-content: space-between;
}

.hd-icons .atlassian {
  width: var(--size-100);
}

.hd-icons .asana {
  width: var(--size-100);
}

.pay-we {
  margin-top: var(--size-125);
  margin-bottom: var(--size-50);
  display: flex;
  height: fit-content;
  width: 350px;
  justify-content: space-between;
}
.hd-icons .paypal {
  width: var(--size-100);
}

.hd-icons .weave {
  width: 85px;
}
.a-cal {
  display: flex;
  justify-content: space-between;
  width: 425px;
  margin-left: var(--size-150);
}

.hd-icons .google-a {
  width: var(--size-75);
  height: var(--size-75);
}

.hd-icons .calendar {
  position: relative;
  top: 40px;
  width: var(--size-100);
  height: var(--size-100);
}

.block-text {
  text-align: center;
  margin-top: var(--size-75);
  margin-bottom: var(--size-75);
}

.block-text h2 {
  font-size: var(--size-30);
}

.block-text span {
  font-size: var(--size-20);
  color: var(--text-color);
  line-height: var(--size-30);
}

.line {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: var(--size-25) auto;
}

.circle {
  display: flex;
  margin: 10px auto;
  width: var(--size-50);
  height: var(--size-50);
  background: radial-gradient(var(--learn-more) 5%, rgba(36, 118, 254, 0.1) 15%);
  border-radius: 50%;
  border: 1px solid;
}

.circle-wrapper {
  display: flex;
  flex-direction: column;
}

.card-table {
  display: flex;
  margin-bottom: var(--size-100);
}

.info-card {
  width: var(--size-200);
  padding: var(--size-10);
  margin-left: auto;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.15);
  border: 1px solid rgba(128, 128, 128, 0.15);
}


.sketch {
  display: inline;
  background-color: var(--sketch);
  font-size: 14px;
  padding: 2px var(--size-10);
}

.info-card .icon {
  width: var(--size-50);
}

.portfolio .container {
  display: flex;
  width: 100%;
  background: var(--bg-port);
  padding-right: 0;
}

.portfolio h2 {
  font-size: var(--size-30);
  font-weight: 500;
}

.portfolio img {
  width: 650px;
  margin-top: var(--size-75);
}

.image-text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.image-text .btn {
  width: var(--size-150);
}

.why-front img {
  height: var(--size-500);
  z-index: -1;
}

.video {
  margin-bottom: var(--size-100);
}

.video span {
  color: black;
  border-radius: 50% 50%;
  border: 1px solid grey;
  box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.2);
  font-size: var(--size-50);
  position: relative;
  left: 50%;
  top: 300px;
}

.hubspot {
  display: flex;
  margin-bottom: var(--size-150);
}
.images {
  width: 45%;
}
.images .dots {
  margin-top: var(--size-25);
  position: absolute;
  width: var(--size-175);
  height: var(--size-500);
  z-index: -1;
}

.images .woman {
  margin-left: 40px;
  width: 350px;
  height: 400px;
}

.hubspot-block-text img {
  width: var(--size-100);
  margin-bottom: var(--size-50);
}

.hubspot-block-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
}


.hubspot-text {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--size-25);
  margin-bottom: var(--size-50);
}

.christina {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: var(--size-20);
  font-weight: 500;
}

.job {
  color: navy;
}

.businesses {
  margin-bottom: var(--size-100);
}

.trust {
  font-size: var(--size-25);
  font-weight: 500;
  text-align: center;
  margin-bottom: var(--size-50);
}

.logos {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: var(--size-150);
}

.pricing {
  display: flex;
  margin-bottom: var(--size-75);
}

.price-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 450px;
  width: 400px;
  padding: var(--size-15);
  box-shadow: 0 10px 10px rgba(128, 128, 128, 0.3);
}

.price-wrapper {
  margin-left: var(--size-20);
  margin-top: var(--size-25);
}

.price-card .price {
  font-size: 35px;
}

.price-card .billing {
  color: var(--text-color);
}

hr {
  margin: var(--size-20);
}

.card-text {
  color: var(--text-color);
  padding: 0 var(--size-15);
}

.price-card .play {
  width: var(--size-150);
  margin-left: var(--size-10);
  margin-top: var(--size-150);
}

.price-card .credit {
  color: var(--text-color);
  font-size: 12px;
  margin-left: var(--size-15);
  margin-top: var(--size-10);
}

.grid-container {
  display: grid;
  margin-left: var(--size-50);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--size-50);
}

.grid-container .icon {
  width: var(--size-50);
}

.component {
  padding: var(--size-25);
}

.grid-text {
  color: var(--text-color);
}

.hire-us {
  display: flex;
  color: white;
  background-color: #20335b;
  width: 100%;
  height: 600px;
}

.hire-us-wrapper {
  padding-left: var(--size-25);
  width: 50%;
}

.hire-us-text {
  padding-top: var(--size-50);
}

.hire-us-text p {
  color: var(--text-color);
  width: var(--size-150);
  margin-bottom: var(--size-25);
}

.hire-us hr {
  width: var(--size-175);
  margin-left: 0;
}

.hire-us-quote {
  font-size: 1rem;
  width: 325px;
  margin: var(--size-30) 0 var(--size-75) 0;
}

.test-info {
  height: 200px;
  margin-bottom: var(--size-75);
}

.test-info .job {
  margin-top: 5px;
  color: var(--text-color);
}

.people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-top: 20%;
}

.person {
  width: var(--size-50);
  height: var(--size-50);
  border-radius: 50%;
}

.featured {
  width: var(--size-75);
  height: var(--size-75);
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  width: 40%;
  height: 90%;
  margin: var(--size-20) var(--size-20) var(--size-20) var(--size-75);
  padding: 15px;
}

.form p {
  color: black;
}

.email {
  padding: var(--size-10);
  width: 100%;
  margin-right: var(--size-20);
  margin: var(--size-10) auto;
  border-radius: 5px;
}
.name-wrapper {
  width: 100%;
}

.form-name {
  padding: var(--size-10);
  border-radius: 5px;
  width: 49%;
}

.dropdowns {
  display: flex;
  width: 100%;
}

.budget {
  width: 50%;
}

.country {
  width: 50%;
}

.textbox {
  width: 100%;
  height: var(--size-150);
  padding: var(--size-10);
  margin: var(--size-10) auto;
}

form .checkbox {
  margin-top: var(--size-10);
}
.checkbox .checkbox {
  width: var(--size-15);
  height: var(--size-15);
  margin-left: var(--size-10);
}

.label {
  float: right;
  width: 95%;
  font-size: 15px;
  color: var(--text-color);
  line-height: 1.5;
}

.policy {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: var(--size-15);
  font-size: 13px
}

.form span {
  color: var(--text-color)
}

.form a {
  color: var(--learn-more);
}

.btn-container {
  width: fit-content;
  margin: var(--size-10) auto;
}

.get-started {
  font-size: 12px;
  padding: var(--size-10);
}

.links {
  display: flex;
  margin-top: var(--size-75);
  height: fit-content;
}

.links-wrapper {
  display: flex;
}

.contact-info {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  width: fit-content;
}

.links .logo {
  margin-bottom: var(--size-20);
}

.address i, .phone i {
  color: black;
  margin-right: var(--size-10);
  margin-bottom: var(--size-10);
}

.company {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  width: fit-content;
}

.links a {
  color: var(--text-color);
}

.hiring {
  background: var(--learn-more);
  font-size: var(--size-10);
  padding: 2px;
  margin-left: var(--size-10);
  border-radius: 5px
}

.links li {
  display: flex;
  width: fit-content;
  margin-bottom: var(--size-10);
}

.footer {
  color: var(--text-color);
}

.social {
  display: flex;
  align-items: center;
  color: black;
}
.social span {
  width: 50%;
}
.socials {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
.socials i {
  color: var(--text-color);
  font-size: var(--size-25);
  margin-right: var(--size-15);
}

.copyright p {
  text-align: center;
  width: 70%;
  margin: var(--size-25) auto
}